klevu-init {
  --klevu-color-primary: var(--chakra-colors-primary);
}

klevu-merchandising {
  --grid-spacing: var(--chakra-space-4);
}

klevu-merchandising::part(dropdown-base) {
  border: 1px solid var(--klevu-color-neutral-4);
  border-radius: 5px;
}
