ALGOLIA_APP_ID=
ALGOLIA_API_ADMIN_KEY=
ALGOLIA_INDEX_NAME=products

VOUCHERIFY_API_URL=
VOUCHERIFY_APPLICATION_ID=
VOUCHERIFY_SECRET_KEY=
# Klevu API key that is found in the Klevu Merchant Center
KLEVU_API_KEY=
# Klevu REST key that is found in the Klevu Merchant Center
KLEVU_REST_KEY=
